*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-primary: "Open Sans";
$font-secondary: "Montserrat";

$clr-white: #fff;
$clr-bg-grey: #f2f2f2;
$clr-dark-grey: #3e4056;
$clr-gun-powder: #3e3f58;
$clr-mandy: #ed5267;
$clr-black-squeeze: #ecf1f8;
$clr-boombay: #b2b3bb;
$clr-biloba-flower: #c5adef;
$clr-edit-btn: #f05d63;
$clr-checkbox-border: #cecece;

@font-face {
    font-family: $font-primary;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("opentype"),
        url(../fonts/Open_Sans/OpenSans-SemiBold.ttf) format("opentype"),
        url(../fonts/Open_Sans/OpenSans-Bold.ttf) format("opentype");
}

@font-face {
    font-family: $font-secondary;
    font-display: swap;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("opentype"),
        url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("opentype");
}

html {
    font-size: 62.5%;

    @media screen and (max-width: 768px) {
        font-size: 58.5%;
    }

    @media screen and (max-width: 320px) {
        font-size: 53.5%;
    }
}

body {
    font-family: $font-primary;
    color: $clr-gun-powder;
    background-color: $clr-bg-grey;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
