.header {
    &__top {
        padding: 2rem 0 0;
        @include flex-align-center;
        justify-content: space-between;
    }

    &__top-content {
        @include flex-align-center;
    }

    &__top-links {
        @include flex-align-center;
        margin-left: 2rem;
    }

    &__top-link {
        &::before {
            display: block;
        }

        &--notification::before {
            content: url(../img/links/notifications.svg);
        }

        &--gifts::before {
            content: url(../img/links/gifts.svg);
        }

        &--medium::before {
            content: url(../img/links/medium.svg);
        }
    }

    &__top-photo {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
    }

    &__top-name {
        @include fontset(1.6rem, 2rem);

        margin-right: 2rem;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__top-account {
        display: flex;
        align-items: center;
        &::after {
            content: url(../img/arrow.svg);
            margin-left: 1.5rem;
        }
    }

    &__bottom {
        @include flex-align-center;
        justify-content: space-between;
    }

    &__bottom-list {
        @include flex-align-center;
    }

    &__bottom-item {
        padding: 2.3rem 0;

        @include fontset(1.4rem, 1.9rem, 600);

        text-transform: uppercase;
        color: $clr-dark-grey;
        mix-blend-mode: normal;
        opacity: 0.6;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 3.7rem;
        }

        &--active {
            position: relative;
            opacity: 1;

            &::after {
                position: absolute;
                bottom: 0;
                display: block;
                content: "";
                height: 0.4rem;
                width: 100%;
                background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
            }
        }
    }

    &__bottom-svg {
        width: 2rem;
    }
}
