@mixin fontset($size, $height, $weight: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}
