.page {
    &--header {
        background: $clr-white;
        box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
    }

    &__container {
        padding: 0 1rem;
        max-width: 120rem;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding: 0 5%;
        }
    }

    &__button {
        &--share {
            @include fontset(1.8rem, 2.5rem);

            color: $clr-edit-btn;
        }

        &--edit {
            @include flex-align-center;
            @include fontset(1.6rem, 2rem);

            text-transform: capitalize;
            text-decoration: underline;
            color: $clr-edit-btn;

            &::before {
                content: url(../img/buttons/edit-icon.svg);
                margin-right: 0.8rem;
                height: 2rem;
            }
        }

        &--plus {
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
            transform: translateY(50%);

            @media screen and (max-width: 768px) {
                width: 4.8rem;
                height: 4.8rem;
                transform: translateY(65%);
            }
        }
    }
}

.main {
    display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // gap: 4.7rem;
    padding: 7rem 0;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}
