.profile {
    //temporarily gave it width
    max-width: 35rem;
    width: 100%;
    position: relative;

    &__top {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            max-width: 28.9rem;
            width: 100%;
        }
    }

    &__details {
        margin-bottom: 3.2rem;
        display: flex;
    }

    &__details-photo {
        border-radius: 50%;
        min-width: 8rem;
        min-height: min-content;
        max-width: 12rem;
        max-height: 12rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-right: 2.4rem;
    }

    &__details-name {
        font-family: $font-secondary;

        @include fontset(2.4rem, 2.6rem, 600);

        text-transform: capitalize;
        margin-bottom: 0.8rem;
    }

    &__details-nick {
        @include fontset(1.6rem, 2rem);

        letter-spacing: -0.05rem;
        margin-bottom: 1.6rem;
    }

    &__details-settings {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (min-width: 768px) {
            right: 1.6rem;
        }
    }

    &__details-dots {
        &::before {
            display: block;
            content: url(../img/profile/icon_3dots.svg);
        }
    }

    &__details-options {
        display: none;
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: $clr-white;
        border-radius: 0.8rem;
        padding: 2.4rem 0;
        mix-blend-mode: normal;
        opacity: 0.94;
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(21.7463px);

        &--active {
            display: block;
            animation: slideMenu 0.5s ease-in-out;
        }

        &--closed {
            animation: slideClosed 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        }

        @media screen and (max-width: 768px) {
            left: unset;
            right: 0;
        }
    }

    &__details-option {
        display: block;

        @include fontset(1.6rem, 2.2rem, 600);

        color: $clr-dark-grey;
        white-space: nowrap;
        padding: 0.8rem 2.3rem;
        @include flex-align-center;
        cursor: pointer;
        text-transform: capitalize;

        &::before {
            margin-right: 1.6rem;
            height: 2rem;
        }

        &--block::before {
            content: url(../img/profile/icon_block.svg);
        }

        &--report::before {
            content: url(../img/profile/icon_report.svg);
        }

        &:hover {
            background-color: $clr-black-squeeze;
        }
    }

    &__followers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
    }

    &__followers-item {
        @include flex-align-center;
        flex-direction: column;
    }

    &__followers-counter {
        @include fontset(1.8rem, 2.4rem, 700);
    }

    &__followers-text {
        @include fontset(1.6rem, 2.4rem, 400);

        text-transform: lowercase;
    }

    &__description {
        @include fontset(1.6rem, 2.4rem);
    }
}
